<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/commons::head}"></head>

<body class="body-error">

<div>
  <header th:replace="~{fragments/commons::navigation}"></header>
</div>

<div class="container-fluid">
  <h5 class="text-center text-white mt-5">
    The page or functionality you were trying to reach is absolutely forbidden for some reason.
  </h5>
  <div class="text-center mt-5 mb-5">
    <img th:src="@{/images/403-brake-warning.png}" alt="" src="" class="w-25">
  </div>
</div>

<div>
  <footer th:replace="~{fragments/commons::footer}"></footer>
</div>

</body>
</html>