<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons::head}"></head>

<body>

<div>
    <header th:replace="~{fragments/commons::navigation}"></header>
</div>

<div class="container col-10">
    <div>
        <h2 class="text-center text-white" th:text="#{offers_filter}">{Filter}</h2>
    </div>

    <form th:action="@{/offers}"
          th:method="get"
          th:object="${offerSearchModel}"
          class="form-inline justify-content-center">

        <div class="border border-secondary p-3 rounded bg-light">
            <div class="d-inline-block">
                <label for="model-desc" class="col-form-label text-primary font-weight-bold"
                       th:text="#{o_model_and_desc_l}">{Model and Description}</label>
                <div id="model-desc">
                    <div>
                        <input th:field="*{model}"
                               th:errorclass="is-invalid"
                               class="form-control"
                               type="search"
                               th:placeholder="#{offers_model}"/>
                    </div>

                    <div class="mt-2">
                        <input th:field="*{descriptionInfix}"
                               th:errorclass="is-invalid"
                               class="form-control"
                               type="search"
                               th:placeholder="#{offers_desc_infix}"/>
                    </div>
                </div>
            </div>

            <div class="d-inline-block ml-1">
                <label for="engine-trans" class="col-form-label text-primary font-weight-bold"
                       th:text="#{o_engine_and_trans_l}">{Engine and
                    Transmission}
                </label>
                <div id="engine-trans">
                    <div>
                        <select th:field="*{engineType}"
                                th:errorclass="is-invalid"
                                class="form-control w-100"
                                type="select">
                            <option value="" th:text="#{offers_engine_type}">{- Select engine -}</option>
                            <option th:each="e : ${T(com.soft.mobilele.model.enumarated.EngineEnum).values()}"
                                    th:text="${e}"
                                    th:value="${e}"
                                    th:selected="${e} == *{engineType}">
                                {Engine type}
                            </option>
                        </select>
                    </div>

                    <div class="mt-2">
                        <select th:field="*{transmissionType}"
                                th:errorclass="is-invalid"
                                class="form-control"
                                type="select">
                            <option value="" th:text="#{offers_transmission_type}">{- Select transmission -}
                            </option>
                            <option th:each="t : ${T(com.soft.mobilele.model.enumarated.TransmissionEnum).values()}"
                                    th:text="${t}"
                                    th:value="${t}"
                                    th:selected="${t} == *{transmissionType}">
                                {Transmission type}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="d-inline-block ml-1">
                <label for="year-from-to" class="col-form-label text-primary font-weight-bold"
                       th:text="#{o_veh_year_l}">{Vehicle Year}</label>
                <div id="year-from-to">
                    <div>
                        <input th:field="*{yearFrom}"
                               th:errorclass="is-invalid"
                               class="form-control"
                               type="search"
                               th:placeholder="#{offers_year_from}"/>
                        <p th:replace="~{fragments/commons::error-form-msg}"></p>
                    </div>

                    <div class="mt-2">
                        <input th:field="*{yearTo}"
                               th:errorclass="is-invalid"
                               class="form-control"
                               type="search"
                               th:placeholder="#{offers_year_to}"/>
                        <p th:replace="~{fragments/commons::error-form-msg}"></p>
                    </div>
                </div>
            </div>

            <div class="d-inline-block ml-1">
                <label for="mileage-from-to" class="col-form-label text-primary font-weight-bold"
                       th:text="#{o_veh_mil_l}">{Vehicle Mileage}
                </label>
                <div id="mileage-from-to">
                    <div>
                        <input th:field="*{mileageFrom}"
                               th:errorclass="is-invalid"
                               class="form-control"
                               type="search"
                               th:placeholder="#{offers_mileage_from}"/>
                        <p th:replace="~{fragments/commons::error-form-msg}"></p>
                    </div>

                    <div class="mt-2">
                        <input th:field="*{mileageTo}"
                               th:errorclass="is-invalid"
                               class="form-control"
                               type="search"
                               th:placeholder="#{offers_mileage_to}"/>
                        <p th:replace="~{fragments/commons::error-form-msg}"></p>
                    </div>
                </div>
            </div>

            <div class="d-inline-block ml-1">
                <label for="price-from-to" class="col-form-label text-primary font-weight-bold"
                       th:text="#{o_veh_price_l}">{Vehicle Price}
                </label>
                <div id="price-from-to">
                    <div>
                        <input th:field="*{minPrice}"
                               th:errorclass="is-invalid"
                               class="form-control"
                               type="search"
                               th:placeholder="#{offers_min_price}"/>
                        <p th:replace="~{fragments/commons::error-form-msg}"></p>
                    </div>

                    <div class="mt-2">
                        <input th:field="*{maxPrice}"
                               th:errorclass="is-invalid"
                               class="form-control"
                               type="search"
                               th:placeholder="#{offers_max_price}"/>
                        <p th:replace="~{fragments/commons::error-form-msg}"></p>
                    </div>

                </div>
            </div>

<!--            Additional search menu: checkboxes-->
            <div>
                <div id="additional-check-col-1" class="d-inline-block">
                    <div class="custom-control form-control-lg custom-checkbox additional-check-box">
                        <input id="check-awd" type="checkbox" class="custom-control-input"
                               th:field="*{awd}">
                        <label class="custom-control-label" for="check-awd" th:text="#{check_awd}">
                            {4x4 All-wheel drive}</label>
                    </div>

                    <div class="custom-control form-control-lg custom-checkbox additional-check-box">
                        <input id="check-xenon" type="checkbox" class="custom-control-input"
                               th:field="*{xenonLights}">
                        <label class="custom-control-label" for="check-xenon" th:text="#{check_xenon}">
                            {Xenon lights}</label>
                    </div>
                </div>

                <div id="additional-check-col-2" class="d-inline-block ml-1">
                    <div class="custom-control form-control-lg custom-checkbox additional-check-box">
                        <input id="check-climatic" type="checkbox" class="custom-control-input"
                               th:field="*{climatic}">
                        <label class="custom-control-label" for="check-climatic" th:text="#{check_climatic}">
                            {Climatic}</label>
                    </div>

                    <div class="custom-control form-control-lg custom-checkbox additional-check-box">
                        <input id="check-isofix" type="checkbox" class="custom-control-input"
                               th:field="*{isofixSystem}">
                        <label class="custom-control-label" for="check-isofix" th:text="#{check_isofix}">
                            {ISOFIX system}</label>
                    </div>
                </div>

                <div id="additional-check-col-3" class="d-inline-block ml-3">

                    <div class="custom-control form-control-lg custom-checkbox additional-check-box">
                        <input id="check-parktronic" type="checkbox" class="custom-control-input"
                               th:field="*{parktronic}">
                        <label class="custom-control-label" for="check-parktronic" th:text="#{check_parktronic}">
                            {Parktronic}</label>
                    </div>

                    <div class="custom-control form-control-lg custom-checkbox additional-check-box">
                        <input id="check-anti-block" type="checkbox" class="custom-control-input"
                               th:field="*{antiBlockingSystem}">
                        <label class="custom-control-label" for="check-anti-block" th:text="#{check_anti_block}">
                            {Anti-blocking system}</label>
                    </div>
                </div>

                <div id="additional-check-col-4" class="d-inline-block ml-3">

                    <div class="custom-control form-control-lg custom-checkbox additional-check-box">
                        <input id="check-navi" type="checkbox" class="custom-control-input"
                               th:field="*{navi}">
                        <label class="custom-control-label" for="check-navi" th:text="#{check_navi}">
                            {Navigation}</label>
                    </div>

                    <div class="custom-control form-control-lg custom-checkbox additional-check-box">
                        <input id="check-cabriolet" type="checkbox" class="custom-control-input"
                               th:field="*{cabriolet}">
                        <label class="custom-control-label" for="check-cabriolet" th:text="#{check_cabriolet}">
                            {Cabriolet}</label>
                    </div>
                </div>
                <div id="additional-check-col-5" class="d-inline-block ml-3">

                    <div class="custom-control form-control-lg custom-checkbox additional-check-box">
                        <input id="check-leasing" type="checkbox" class="custom-control-input"
                               th:field="*{leasing}">
                        <label class="custom-control-label" for="check-leasing" th:text="#{check_leasing}">
                            {Leasing}</label>
                    </div>

                    <div class="custom-control form-control-lg custom-checkbox additional-check-box">
                        <input id="check-bluetooth" type="checkbox" class="custom-control-input"
                               th:field="*{bluetooth}">
                        <label class="custom-control-label" for="check-bluetooth" th:text="#{check_bluetooth}">
                            {Bluetooth/handsfree}</label>
                    </div>
                </div>

            </div>

            <div class="d-flex justify-content-between mt-4">
                <div>

                    <button id="advanced-search"
                            class="btn btn-outline-secondary"
                            type="submit" th:text="#{search_advances_btn}">{Advanced Search}
                    </button>

                    <select id="items-per-page"
                            th:field="*{perPage}"
                            th:errorclass="is-invalid"
                            class="form-control btn-secondary ml-2">
                        <option value="" th:text="#{search_per_page}">{- Sort by -}</option>
                        <option th:each="s : ${T(com.soft.mobilele.model.enumarated.PerPage).values()}"
                                th:text="${s.getSz()}"
                                th:value="${s}"
                                th:selected="${s} == *{perPage}">
                            {Vehicles per page}
                        </option>
                    </select>

                </div>
                <button id="search-btn"
                        class="btn btn-outline-primary font-weight-bold w-25 ml-5 mr-5"
                        type="submit" th:text="#{offers_search_btn}">
                    {Search}
                </button>
                <div>

                    <select id="sort-type"
                            th:field="*{sortDirection}"
                            th:errorclass="is-invalid"
                            class="form-control btn-secondary ml-5 mr-2">
                        <option value="" th:text="#{search_sort_type}">{- ASC/DESC -}</option>
                        <option th:each="s : ${T(com.soft.mobilele.model.enumarated.SortDirection).values()}"
                                th:text="${s}"
                                th:value="${s}"
                                th:selected="${s} == *{sortDirection}">
                            {Sort by criteria}
                        </option>
                    </select>

                    <select id="sort-by"
                            th:field="*{sortBy}"
                            th:errorclass="is-invalid"
                            class="form-control btn-secondary">
                        <option value="" th:text="#{search_sort_by}">{- Sort by -}</option>
                        <option th:each="s : ${T(com.soft.mobilele.model.enumarated.SortBy).values()}"
                                th:text="${s.getDisplayName()}"
                                th:value="${s}"
                                th:selected="${s} == *{sortBy}">
                            {Sort by criteria}
                        </option>
                    </select>

                </div>
            </div>
        </div>
    </form>
</div>

<div class="container-fluid">

    <div class="text-center text-white">
        <h3 th:text="#{navbar_offers}">{Offers}</h3>
    </div>

    <div class="row justify-content-center"
         th:object="${offersSearch}"
         th:if="${#lists.size(offersSearch.getContent()) > 0}">
        <nav>
            <ul class="pagination">
                <li class="page-item" th:classappend="*{isFirst() ? 'disabled' : ''}">

                    <a th:if="*{isFirst()}"
                       class="page-link" href="#"
                       th:text="#{offers_page_first}">{First}</a>

                    <a th:unless="*{isFirst()}" class="page-link"
                       th:href="@{/offers(size = *{getSize()},page=0)}"
                       th:text="#{offers_page_first}">{First}</a>

                </li>
            </ul>
        </nav>
        <nav>
            <ul class="pagination">
                <li class="page-item" th:classappend="*{hasPrevious() ? '' : 'disabled'}">

                    <a th:if="*{hasPrevious()}" class="page-link"
                       th:href="@{/offers(size = *{getSize()},page=*{getNumber() - 1})}"
                       th:text="#{offers_page_prev}">{Previous}</a>

                    <a th:unless="*{hasPrevious()}"
                       class="page-link" href="#"
                       th:text="#{offers_page_prev}">{Previous}</a>

                </li>
            </ul>
        </nav>
        <nav>
            <ul class="pagination">
                <li class="page-item" th:classappend="*{hasNext() ? '' : 'disabled'}">

                    <a th:if="*{hasNext()}" class="page-link"
                       th:href="@{/offers(size = *{getSize()},page=*{getNumber() + 1})}"
                       th:text="#{offers_page_next}">{Next}</a>

                    <a th:unless="*{hasNext()}"
                       class="page-link" href="#"
                       th:text="#{offers_page_next}">{Next}</a>

                </li>
            </ul>
        </nav>
        <nav>
            <ul class="pagination">
                <li class="page-item" th:classappend="*{isLast() ? 'disabled' : ''}">

                    <a th:if="*{isLast()}"
                       class="page-link" href="#"
                       th:text="#{offers_page_last}">{Last}</a>

                    <a th:unless="*{isLast()}" class="page-link"
                       th:href="@{/offers(size = *{getSize()},page=*{getTotalPages() - 1})}"
                       th:text="#{offers_page_last}">{Last}</a>

                </li>
            </ul>
        </nav>

    </div>

    <div class="col-6 offset-3"
         th:unless="${#lists.size(offersSearch.getContent()) > 0}">
        <h3 class="text-white bg-danger rounded text-center p-2 mt-5"
            th:text="#{offers_no_match}">{No offers match your criteria}</h3>
    </div>

    <div class="offers row mx-auto d-flex flex-row justify-content-center"
         th:object="${offers}">
        <div class="offer card col-sm-6 col-md-3 col-lg-2 m-1 p-0"
             th:each="currOffer : ${offersSearch.getContent()}"
             th:object="${currOffer}">
            <div class="card-img-top-wrapper">
                <img class="card-img-top" th:src="@{*{imageUrl}}" alt="Car image">
            </div>

            <div class="card-body pb-1">

                <h5 class="card-title"
                    th:text="#{offers_view_offer_year} + ': ' + *{created.getYear()}">
                    {Year: 2023}
                </h5>

                <h5 class="card-title" th:text="#{offers_view_brand} + ': ' + *{brand}">
                    {Brand: brand name}>
                </h5>

                <h5 class="card-title" th:text="#{offers_view_model} + ': ' + *{model}">
                    {Model: model name}>
                </h5>

            </div>

            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text">
                        <span th:text="#{offers_view_year} + ': ' + *{year}">{Year}</span>
                    </div>
                    <div class="card-text">
                        <span th:text="#{offers_view_price} + ': ' + *{price} + ' ' + #{offers_view_EUR} ">{Price}</span>
                    </div>
                    <div class="card-text">
                        <span th:text="#{offers_view_mileage} + ': ' + *{mileage} + ' ' + #{offers_view_km}">{Mileage}</span>
                    </div>
                    <div class="card-text">
                        <span th:text="#{offers_view_engine} + ': ' + *{engineType}">{Engine type}</span>
                    </div>
                    <div class="card-text">
                        <span th:text="#{offers_view_transmission} + ': ' + *{transmissionType}">{Transmission type}
                        </span>
                    </div>
                </li>
            </ul>

            <div class="card-body">
                <a class="card-link btn-primary rounded p-2 font-weight-bold"
                   th:href="@{/offers/{id}/details(id = *{id})}"
                   th:text="#{offers_details_btn}">{Details}</a>
            </div>

        </div>
    </div>


    <footer th:replace="~{fragments/commons::footer}"></footer>


</div>


<script src="/js/advanced-search-toggle.js"></script>

</body>
</html>
